.SideBar-p {
    position: fixed;
    top: 78px;
    left: 101px;
    background-color: #FBF7F7;
    width: 120px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.218) 2px 0px 2px;
    border-right: 2px solid rgba(0, 0, 0, 0.218);
  }
  
  .container-p {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    margin-left: 250px;
    height: 100vh;
    background-color: #f5f9fc;
  }
  
  .Formulaire {
    width: 50%;
    padding: 40px;
    background-color: #FBF7F7;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-family: Arial, sans-serif;
    color: #1C4966;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .formulaire-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-row {
    display: flex;
    flex-direction: column;
  }
  
  .form-row label {
    font-weight: bold;
    color: #1C4966;;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
  }
  
  .inp {
    /* width: 100%; */
    padding: 8px;
    border: 1px solid #1C4966;;
    border-radius: 5px;
    background-color: #FBF7F7;
    font-family: Arial, sans-serif;
  }
  
  .genre-options {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .genre-options label {
    color: #1C4966;
  }
  .profile-p{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
    border: 1px solid #1abc9c;
   
  }
  .profile-p img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #034f6d; /* Bleu foncé élégant */
    margin: 10px 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  .modifier-btn,
.logout-btn {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

/* Bouton Modifier */
.modifier-btn {
 background-color: #FBF7F7; /* turquoise doux */
  color: #1C4966;
  border:1px solid #1C4966 ;
}

.modifier-btn:hover {
  background-color: #1C4966;
  color: #FBF7F7;
  transform: scale(1.03);
}

/* Bouton Déconnexion */
.logout-btn {
 background-color: #63D8D2; 
  color: white;
}

.logout-btn:hover {
  color: #63D8D2;
  background-color: #FBF7F7;
  border: 2px solid #63D8D2;
  transform: scale(1.03);
}
