body {
    margin: 0;
    padding: 0;
    height: 100%;
   }
  .login-container {
    background-color: #25C6C0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .login-form {
    background:  #FBF7F7;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    height: 80%;
  }
  .LOGO {
    width: 100px;
    height: 100px;
    opacity: 0;  
    transform: translateY(-20px); 
    animation: fadeInMove 1.5s ease-out forwards;
  }
  
  @keyframes fadeInMove {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);  
    }
  }
  
  h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #1C4966;
  }
  h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #25C6C0;
    margin-bottom: 60px;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
  }
  .input-group label {
    font-weight: bold;
    color: #25C6C0;
    text-align: left; 
   
    font-family: Arial, Helvetica, sans-serif;
  }
  .input-group input {
  border:  solid 1px #25C6C0 ;
  padding: 5px;
  background-color: #FBF7F7;
 }
 .login-btn {
    border-radius: 15px ;  
    background:#25C6C0 ;  
    padding: 12px 30px;
    color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.3s, box-shadow 0.3s;
   
  }
  
  .login-btn:hover {
    transform: scale(1.1);  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
.select_login {
  border: 1px solid #25C6C0;
  font-weight: bold;
  color: #25C6C0;
  text-align: left; 
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FBF7F7;
  color: #25C6C0;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  padding: 5px;
  margin-bottom: 30px;
 
}

.select_login:focus {
  border-color: #1C4966;
  box-shadow: 0 0 5px rgba(28, 73, 102, 0.4);
  color:#1C4966
}





