body{
    background-color: #EEF5FA;
}
#container{
    background-color: #EEF5FA;
    display: flex;
    flex-wrap: wrap;
}
#header{
    background-color: #FBF7F7;
    display: flex;
    justify-content:space-between;
    margin: 0% ;
    box-shadow: rgba(0, 0, 0, 0.218) 0px 2px 2px;
    justify-content: start;
}
#header h2{
    margin-left: 90%;
    color: #244A6A;
}
#header h1{
    color: #22CBC2;
}

/* SideBar */

#SideMenu{
    position: fixed;
    top: 78px;
    background-color: #FBF7F7;
    width: 100px;
    height: 1000vh;
    box-shadow: rgba(0, 0, 0, 0.218) 2px 0px 2px;
}
#SideMenu section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4%;
    height: 10vh;
    text-align: center;
}
#SideMenu p{
    margin: 0%;
    color: #244A6A;
}
#SideMenu a{
    text-decoration: none;
}
.active-menu-link section{
    background-color: #22CBC2;
}
/*SideBar*/

#SideBar{
    position: fixed;
    top: 78px;
    left: 101px;
    background-color: #FBF7F7;
    border-left: 1px solid rgba(0, 0, 0, 0.218);
    width: 100px;
    height: 1000vh;
    box-shadow: rgba(0, 0, 0, 0.218) 2px 0px 2px;
}

/* Info Client */
#infoPatient,#Rendez-vous,#plusInfo{
    /* margin-left: 50%; */
    color: gray;
    margin-right: 3%;
    width: 400px;
    background-color: #FBF7F7;
    padding: 3%;
    box-shadow: rgba(0, 0, 0, 0.218) 0px 0px 2px;
}

#infoPatient h2,#Rendez-vous h2,#plusInfo h2{
    width: 100%;
    /* text-align: center; */
    color: #244A6A;
}
#infoPatient label,#Rendez-vous label,#plusInfo label{
    color: #22CBC2;
    font-weight: bold;
}
#infoPatient input[type=text],input[type=date],#Rendez-vous input[type=text],input[type=date],select,#plusInfo input[type=text],input[type=date],input[type=time]{
    display: block;
    width: 100%;
    border: #D9D9D9 1px solid;
    border-radius: 5px;
    color: gray;
    height: 25px;
}
#forms{
    display: flex;
    margin-top: 30px;
    margin-left: 220px;
    flex-wrap: wrap;
    width: 100%;
}
#Rendez-vous,#plusInfo{
    background-color: #FBF7F7;
    height: 250px;
    padding: 5%;
    margin: 3% 0%;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.218) 0px 0px 2px;
    display: flex;
    flex-wrap: wrap;
}
#Rendez-vous h2,#plusInfo h2{
    width: 100%;
}

#Rendez-vous div,#plusInfo div{
    margin-left: 3%;
}

#btns{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 30%;
}
#plusInfo article {
    width: 100%;
}
/*searchPatient*/
#searchPatient{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
    margin-left: 250px;
    width: 100%;
}
#forms2{
    display: flex;
    margin-top: 30px;
    margin-left: 220px;
    flex-wrap: wrap;
    width: 100%;
}
.message{
    text-align: center;
    background-color: #22CBC2;
    margin: 1%;
    top: 100px;
    left: 250px;
    border-radius: 5px;
    border: #1eb0a9 1.5px solid;
}
#messages{
    margin-top: 80px;
    margin-left: 250px;
}
.message p{
    color: white;
    /* padding: 2%;*/
    margin: 0%;
}

.active-admission-link{
    color: #22CBC2;
    background-color: rgba(34, 203, 195, 0.334);
    text-decoration: none;
    border-left: #1eb0a9 4px solid;
    padding: 0px 10px;
}
nav a{
    color: #244A6A;
    text-decoration: none;
}